---
import InstructionNote from '../InstructionNote.astro';
---
<section id="imagery">
    <h2>Imagery</h2>
    
    <InstructionNote>
        Define your brand's specific rules for handling multimedia accessibility, including policies on embedded text, video captions, and motion design. Provide alt-text examples for your visual assets.
    </InstructionNote>

    <h3>Multimedia Policies</h3>
    <ul>
        <li><strong>Text in Images:</strong> Text inside iamges is not allowed, only exception is brand logo.</li>
        <li><strong>Video & Audio:</strong> Any video provided by the Chami brand must include accurate video captions and audio transcripts.</li>
        <li><strong>Motion Control:</strong> There will be no flashing, blinking, or auto-playing content, the only exception is app/website start-up. Which will include an simplified image of the Chami bird flying.</li>
    </ul>

    <h3>Alt-Text Style Guide</h3>
    <div class="image-grid">
        <div>
            <div class="placeholder-box" style="min-height: 200px;">
                <img src="public/images/ChamiBirdStartup.png" alt="Simplified Iamge of Chami Bird Flying above Chami type logo">

            </div>
            <p><strong>Alt-Text:</strong> "Simplified Iamge of Chami Bird Flying above Chami type logo"</p>
        </div>
        <div>
            <div class="placeholder-box" style="min-height: 200px;">
                <img src="public/images/Full LogoLogo.png" alt="Chami Image Logo on top of Chami Text Logo">
            </div>
            <p><strong>Alt-Text:</strong> "Chami Image Logo on top of Chami Text Logo"</p>
        </div>
    </div>
</section>