
---
import ChecklistItem from '../ChecklistItem.astro';
import InstructionNote from '../InstructionNote.astro';
---
            <!-- Section 7: Documentation -->
            <section id="implementation">
                <h2>Implementation</h2>
                
                <InstructionNote>
                    List the testing tools your team will use to verify accessibility. Then, construct a pre-flight audit checklist containing the minimum standards an asset must pass before publication, based on the rules you defined above.
                </InstructionNote>

                <h3>Approved Accessibility Tools</h3>
                <ul>
                    <li>Tool 1: WCAG Contrast Checker</li>
                    <li>Tool 2: Hemingwey Editor</li>
                    <li>Tool 3: Apple Screen Reader</li>
                </ul>

                <h3>Pre-Flight Audit Checklist</h3>
                <p>Before publishing any digital asset for Chami, designers and content creators must verify the following:</p>
                <ul class="checklist">
        <ChecklistItem id="audit1" label="Ensure all text follows WCAG AA guidelines." />
        <ChecklistItem id="audit2" label="Ensure all buttons relate to WCAG AA guidelines along with previously mentioned stipulations." />
        <ChecklistItem id="audit3" label="Ensure links all utilize proper styling." />
        <ChecklistItem id="audit4" label="Ensure colors follow brand guidelines" />
        <ChecklistItem id="audit5" label="Ensure all image descriptions are easily understood and legible" />
        <ChecklistItem id="audit6" label="Ensure all interactive elements are at least 44x44 CSS pixels" />
        <ChecklistItem id="audit7" label="Ensure all text is legible up to an 8th grade reading level." />
                </ul>
            </section>