---
import InstructionNote from '../InstructionNote.astro';
---
<section id="voice">
    <h2>Voice & Language</h2>
    
    <InstructionNote>
        Define the reading level and communication style of your brand. Create a "Do / Don't" list for plain language, and set structural rules for formatting social media.
    </InstructionNote>

    <h3>Plain Language Guidelines</h3>
    <p>Chami aims to have a reading level that averages out around the 8th grade. Being easy to understand is vital to creating an easy to use space such as ours.</p>

    <div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th scope="col">Do Say (Inclusive/Plain)</th>
                <th scope="col">Don't Say (Exclusionary/Idiom)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sound Settings</td>
                <td>Microphone and Speaker Device Settings</td>
            </tr>
            <tr>
                <td>Create Server</td>
                <td>Create Public Messaging Server</td>
            </tr>
        </tbody>
    </table>
    </div>
</section>